# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# 每一行的最前面,如果是 # 代表註解
# *.dll 這行的前面加上註解, 再存檔。
# 之後Git備份時,就會把 freeglut.dll 也備份起來

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# 下面這兩個, 在 freeglut 及 opencv 都會用到,就放行吧!!!!
# *.a
# *.lib

# Executables
*.exe
*.out
*.app